#formularz  {
    background-image: url("https://c1.staticflickr.com/8/7693/17123251389_bed3c3a1ba_b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formulaobrazektla {
    background-color: rgba(224, 217, 218, 0.9);
    text-align: center;
    color: #3f364b;
    padding: 100px 100px 50px 100px;
}

.maskaobrazkatla {
    border:1px dotted white;
    width: 90%;
    margin: auto;
    display: flex;

}

.obrazekformularza {
    width: 33.3333%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.obrazekformularza img {
    width: 100%;
    max-width: 100%;
    box-shadow: 3px 3px 5px black;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

#formulatext {
    width: 66.6666%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 800px) {
    .formulaobrazektla {
        padding: 10px 10px;
    }
    .maskaobrazkatla {
        display: block;
        margin: auto;
    }
    .obrazekformularza {
        width:100%;
    }
    .obrazekformularza img{
        padding-left: 0;
    }
    #formulatext {
        width: 100%;

    }
}

#formulatext p {
    font-size: 1.2em;
    display: block;
    color: rgba(63, 54, 75, 1);
    text-shadow: 2px 2px 3px white;
}

#formulatext h1 {
    font-size: 1.5em;
    padding: 10px 0;
    display: block;
    color: rgba(63, 54, 75, 1);
    text-shadow: 2px 2px 3px #a33a50;
}

#formulatext form {
    width: 70%;
    margin: auto;
}

.button-form {
    background-color: #a33a50;
    text-shadow: 2px 2px 4px #3f364b;
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
    height: 30px;
    width: 180px;
    color: #fdfbfd;
    text-transform: uppercase;
}

.button-form:hover {
    background-color: #3f364b;
    color: white;
    box-shadow: 2px 2px 3px #a33a50;
    vertical-align:middle
}

fieldset {
    /*border: 2px solid;*/
    /*border-color: #3f364b;*/
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5px;
    padding-top:50px;
    padding-bottom: 50px;
}

form {
    border-radius: 5px;
    background-color: #e0d9da;
}

input#email {
    border: 2px solid white;
    border-radius: 4px;
    background-color: #fdfbfd;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    }

.klauzula-bezpieczenstwa {
    margin-top: 20px;
    font-size: 10px;
    padding: 20px
}

footer {
    color: #e0d9da;
    background-color: #3f364b;
    text-align: center;
    min-height: 40px;
    padding: 10px;
}
.footer-div {
    padding-top: 10px;
}

.logo-footer {
    position: relative;
    box-shadow: 0 0 5px #000;
    height: 40px;
    float: right;
}