
#funkcjepodstawowe {
    background-color: rgba(63, 54, 75, 1);
    height: 100%;
    width: 100%;
    border: none;
    padding-bottom: 50px;
}

#funkcjepodstawowe h2 {
    text-align: center;
    color: rgba(224, 217, 218, 1);
    padding-top: 10px;
}

#funkcjeglownekontener {
    margin: auto;
    text-align: center;
}

.funkcjeglowne {
    width: 22%;
    min-width: 150px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: rgba(224, 217, 218, 1);
    background-color: rgba(224, 217, 218, 0.1);

    margin: 5px;
    padding-top: 20px;
}

.funkcjeglowne ol li {
    list-style-type: none;
}

#funkcjerozszerzone {
    color: #3f364b;
}

#funkcjerozszerzone h2 {
    text-align: center;
}

#funkcjedodatkowe {

}

/*#kolumna {*/
    /*float: left;*/
    /*background-color: rgba(224, 217, 218, 1);*/
/*}*/

.kolumna {

    width: 50%;
    text-align: center;
    }

.funkcja {
    background-color: rgba(224, 217, 218, 1);
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius:20px;
    height: 150px;
    position: relative;
    /*z-index: -100;*/
}

.funkcja > i {
    color: rgba(163, 58, 80, 1);
}

.funkcja div {
    display: none;
    background-color: rgba(163, 58, 80, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    border-radius:20px;
    padding: 25px 5px;
    /*vertical-align: middle;*/

}

.funkcja:hover div {
    display: block;
}

.floatleft{
    float:left;
}

.floatright {
    float: right;
}

.clearboth {
clear: both;
}