
#funkcjepodstawowe {
    background-color: rgba(63, 54, 75, 1);
    height: 100%;
    width: 100%;
    border: none;
    padding-bottom: 50px;
}

#funkcjepodstawowe h2 {
    text-align: center;
    color: rgba(224, 217, 218, 1);
    padding: 20px 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 50px;
}

#funkcjeglownekontener {
    margin: auto;
    text-align: center;
    z-index:1;
}

.funkcjeglowne {
    width: 23%;
    min-width: 150px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: rgba(224, 217, 218, 1);
    background-color: rgba(224, 217, 218, 0.1);
    text-shadow: 2px 2px 4px #000000;
    margin: 0.5%;
    padding-top: 1%;
}
@media screen and (min-width: 801px) and (max-width: 1201px) {
    .funkcjeglowne {
        width: 48%;
    }
}

@media screen and (max-width: 800px) {
    .funkcjeglowne {
        width: 100%;
    }
}

.funkcjeglowne i {
    /*text-shadow: 2px 2px 4px #000000;*/
    padding: 15x;
}

.funkcjeglowne h3 {
    /*text-shadow: 2px 2px 4px #000000;*/
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
}
.funkcjeglowne p {
    padding-top: 20px;
}

.funkcjeglowne ol li {
    list-style-type: none;
}

#funkcjerozszerzone {
    color: #3f364b;
    text-shadow: 2px 2px 4px #ffffff;
}

#funkcjerozszerzone h2 {
    text-align: center;
    text-shadow: 2px 2px 4px #a33a50;
    font-size: 2em;
    padding-top: 50px;

}

#funkcjedodatkowe {

}

.kolumna {

    width: 50%;
    text-align: center;
    }
@media screen and (max-width: 800px) {
    .kolumna {
        width: 100%;
    }
}

.funkcja {
    background-color: rgba(224, 217, 218, 1);
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius:20px;
    height: 150px;
    position: relative;
    box-shadow: 10px 10px 5px rgba(63, 54, 75, 0.8);
}

.funkcja > i {
    color: rgba(163, 58, 80, 1);
    text-shadow: 2px 2px 4px #000000;
}
.funkcja h3 {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.funkcja div {
    display: none;
    background-color: rgba(163, 58, 80, 1);
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 100%;
    padding: 20px 0;
    /*margin: 0 0 0 20px;*/
    border-radius:20px;
    color: #f7cfb5;
    text-shadow: 2px 2px 4px #000000;




}

.funkcja:hover div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floatleft{
    float:left;
}

.floatright {
    float: right;
}

.clearboth {
clear: both;
}