/*#game-board tr {*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/

#game-board td {
    border: 1px solid #3f364b;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: #fdfbfd;
}

#game {
    display: none;
    height: 100vh;
}

#gamediv {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamedivcenter {
    align-self: center;
}



#game-board .coin {
    background-color: gold;
    background: url("../img/dolar.gif");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

#tablica-wynikow {
    width: 100px;
    height: 70px;
    font-size: 2em;
    color: #e0d9da;
    background-color: #3f364b;
    padding-top: 15px;
    padding-left: 35px;

}