#game-board td {
    border: 1px solid #3f364b;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: #fdfbfd;
}

#game {
    /*display: none;*/
    height: 100%;
    min-height: 100vh;
    background-color: #e0d9da;
}

#gamediv {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gamedivcenter {
    align-self: center;
    display: inline-block;

}

#gameinstruction {
    background-color: #3f364b;
    color: white;
    width: 400px;
    height: 400px;
    font-size: 1.8em;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid white;
}

#gameinstruction > p {
    padding-top: 10px;
}

#gameinstruction > p:first-child {
    text-align: center;
}

#gameinstruction > p:last-child {
    text-align: center;
}

#play {
    background-color: #a33a50;
}

#game-board .coin {
    background-color: gold;
    background: url("../img/dolar.gif");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

#tablica-wynikow {
    /*width: 100px;*/
    height: 70px;
    font-size: 2em;
    color: #e0d9da;
    background-color: #3f364b;
    padding-top: 15px;
    /*padding-left: 35px;*/
    box-sizing: border-box;

}

#timer {
    height: 70px;
    font-size: 2em;
    color: #e0d9da;
    background-color: #3f364b;
    padding-top: 15px;
    padding-left: 35px;
    box-sizing: border-box;

}

.pacman{
    background-color: yellow;
    border-radius: 50%;
}