/*#game-board tr {*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/

#game-board td {
    border: 1px solid #000;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: #fdfbfd;
}

#game {
    display: none;
    height: 100vh;
}

#game-board .coin {
    background-color: gold;
    background: url("../img/dolar.gif");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

#tablica-wynikow {
    width: 100px;
    height: 70px;
    font-size: 2em;
    color: #000;
    background-color: #66afe9;

}