.logoHead {
    position: absolute;
    left: 20px;
    top: 0;
    box-shadow: 0 0 5px #000;
    height: 80px;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22000;
    background-color: rgba(63, 54, 75, 0.8);
    max-height: 55px;
}
.menu-main {
    position: relative;
    text-align: center;
}

.menu-main ul {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin-top: 0;
    position: relative;
    height: 40px;
}

.menu-main li {
    display: inline-block;
    margin-right: 20px;
}

.menu-main a  {
    display: inline-block;
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    transition: color 100ms ease;
    line-height: 40px;
}

.menu-main li a:hover {
    transition: color 200ms ease;
    color: rgba(247, 207, 181, 1);
}
