/*color1: rgba(253, 251, 253, 1);   */
/*        #fdfbfd;                  */
/*color2: rgba(247, 207, 181, 1);   */
/*        #f7cfb5;                  */
/*color3: rgba(224, 217, 218, 1);   */
/*        #e0d9da;                  */
/*color4: rgba(63, 54, 75, 1);      */
/*        #3f364b;                  */
/*color5: rgba(163, 58, 80, 1);     */
/*        #a33a50;                  */

body {
    background-color: #fdfbfd;
    font-family: Raleway, sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-family: Bitter, serif;
}

main {
    clear: both;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

