/*color1: rgba(253, 251, 253, 1);   */
/*        #fdfbfd;                  */
/*color2: rgba(247, 207, 181, 1);   */
/*        #f7cfb5;                  */
/*color3: rgba(224, 217, 218, 1);   */
/*        #e0d9da;                  */
/*color4: rgba(63, 54, 75, 1);      */
/*        #3f364b;                  */
/*color5: rgba(163, 58, 80, 1);     */
/*        #a33a50;                  */

body {
    background-color: #fdfbfd;
    font-family: Raleway, sans-serif;
}

h1, h2, h3 {
    font-family: Lato, serif;
}

header {
    margin: auto;
    background: white;
    width: 1000px;
    height: 100px;
    border: 1px dotted;
}

#logo {

    float: left;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 5px 10px;
    font-size: 1.5em;
}

nav ul li a {
    color: cornflowerblue;
    text-decoration-line: none;
}
main {
    clear: both;
}

section {
    /*background-color: white;*/
    /*width: 1000px;*/
    /*height: 300px;*/
    /*margin: auto;*/
    /*border: dotted 1px;*/
}



