#zespol {
    background-color: rgba(63, 54, 75, 1);
    height: 100%;
    width: 100%;
    border: none;
    padding-bottom: 55px;
    text-align: center;
}

#zespol h2 {
    text-align: center;
    color: rgba(224, 217, 218, 1);
    padding-top: 10px;
}
.czlonkowie {
    width: 22%;
    height: 300px;
    text-align: center;
    color: rgba(224, 217, 218, 1);
    background-color: rgba(224, 217, 218, 0.1);
    margin: 0px 5px;
    padding-top: 20px;
    display: inline-block;
    border-radius: 20px;
}

@media screen and (min-width: 801px) and (max-width: 1201px) {
    .czlonkowie {
        width: 22%;
    }
}

@media screen and (max-width: 800px) {
    .czlonkowie {
        width: 88%;
    }
}


.czlonkowie:hover {
    background-color: #a33a50;
    color: white;
}

.photo {
    width: 150px;
    height: 150px;
    border: dotted 4px;
    border-radius: 100px;
    filter: sepia(80%);
}

#przekierowania {
    color: white;
}

.fa-3x {
    color: #3f364b;
}